body{
    background:lightgray;
    font-family: verdana;
    max-width: 900px;
    margin: auto;
}
.photo{
    border:5px solid #505050;
    border-radius: 5px;
}
#title, .subtitle, .post_title {
    color:#505050;
}
.title{
    font-size: 20px;
    text-transform: uppercase;
}

a{
    text-decoration: line-through;
    color:#505050;   
}
.post_title {
    font-size: 16px;
    font-size: italic;
    margin:0px;
    margin-bottom: 15px;
}
.post{
    background: white;
    padding: 10px; 
    border: 3px solid black;
    margin-bottom:10px;
    border-radius: 10px;

}
.post_content{
    margin: 0px;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;

}
.post_image{
    margin:0px;
    margin-bottom:15px;

}
.contacts_list{
list-style-type: none;
padding-left: 15px;
}
.contacts_list li a {
 text-decoration: none;
}